# Ignorer tout le dossier logs
#logs/*
# Ignorer tout le dossier /data
CyberPunk-Dialog/data/*
#CyberPunk-Dialog/data/BDDjson
CyberPunk-Dialog/userconf.ini
CyberPunk-Dialog/__pycache__/*
__pycache__/*
venv/*
.vscode/*

# Ne pas ignorer important.log
#!logs/important.log
!CyberPunk-Dialog/data/projet/Rendez-vous.json
!CyberPunk-Dialog/data/projet/Rendez-vous_files/*